body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    font-family: "Lato", sans-serif;
}

.background {
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
h1{
    text-align:center;
}

iframe{
    width: 100%;
    height: 100%;
    margin-left: 15px;
    margin-right: 20px;
}
.div_pdf{

    position: absolute;
    top: 35%;
    width: 96%;
    height: 100%;
    border: 0;
}
img{
    width: 200px;
    height: 100px;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline label {
    margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    float: right;
}

.form-inline button:hover {
    background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}

.qqq {
    display: inline-block;
    transform-origin: center center;
    width: 150px;
    height: 150px;
    background: #E8E3D1;
    margin-left: 10px;
    margin-right: 10px;
}
.img_dado{
    width: 150px;
    height: 150px;
}
.form_ej_4{
    width: 35%;
    height: 20%;
}